
.top {
    height: 88px;
    padding: 20px 0;
}

.top_icon {
    margin: 0 auto;
    width: 70%;
}

.top_icon > a > img {
    width: 300px;
    height: 40px;
}

.header {
    position: relative;
    min-height: 800px;
    background-color: #811000;
}

.login {
    background-color: #FFFFFF;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 300px;
    height: 270px;
    padding: 35px 15px 0px;
    border-radius: 15px;
    z-index: 1;
}

.background > img {
    position: absolute;
    left: 550px;
    top: 80px;
}

#loginHeadFont {
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    letter-spacing: 5px;
}

#error_Message {
    opacity: 0;
    position: absolute;
    top: 25px;
    width: 270px;
    height: 30px;
    background-color: #fef2f2;
}

#error_icon {
    margin-top: 6px;
    margin-left: 15px;
}

#error_text {
    font-size: 10px;
    color: #6C6C6C;
    margin-left: 10px;
}

.loginFromAction {
    text-align: center;
}

.UserIdIcon,
.UserPwdIcon {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.loginText {
    display: inline-block;
    width: 220px;
    height: 30px;
    margin-top: 20px;
}

.loginBtn {
    width: 200px;
    height: 35px;
    margin-top: 20px;
    font-size: 15px;
}

.footer {
    height: 150px;
}

