* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.register_nav {
    height: 40px;
    width: 60%;
    min-width: 750px;
    margin: 0 auto;
}

.progressbar {
    margin: 0 auto;
    width: 40%;
}

.bar {
    width: 23%;
    height: 2px;
    background-color: #d9534f;
}

.nav_t {
    opacity: 0.75;
    width: 600px;
    margin: 10px auto 0;
}

.nav_item {
    float: left;
    text-align: center;
    width: 150px;
}

.nav_text {
    font-size: 15px;
    font-family: "Arial";
    font-weight: bold;
}

.nav_number {
    display: inline-block;
    font-family: "Arial";
    color: #FFFFFF;
    background-color: #6C6C6C;
    padding-top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.nav_1 {
    background-color: #c40000;
}

.register_content {
    position: relative;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.pagebox {
    position: absolute;
    left: 0px;
    width: 1500px;
}

.onePage,
.twoPage,
.threePage {
    float: left;
    width: 300px;
    margin: 0 100px;
}

#username,
#password_one,
#password_two,
#email,
#phone {
    height: 45px;
    margin: 20px 0;
}

.next_btn_1,
.next_btn_2,
.ok_btn {
    width: 160px;
}

.next_btn_1 {
    margin-top: 65px;
}

.two_box {
    margin: 20px;
}

.username_msg {
    position: absolute;
    top: 32px;
    left: 410px;
}

.password_msg_1 {
    position: absolute;
    top: 32px;
    left: 910px;
}

.password_msg_2 {
    position: absolute;
    top: 97px;
    left: 910px;
}

.email_msg {
    position: absolute;
    top: 32px;
    left: 1410px;
}

.phone_msg {
    position: absolute;
    top: 97px;
    left: 1410px;
}

.username_msg,
.password_msg_1,
.password_msg_2,
.email_msg,
.phone_msg {
    font-family: Arial;
    font-size: 15px;
    color: #c40000;
}


/* 清除高度坍塌 */
.clearfix {
    zoom: 1;
}

.clearfix:after {
    display: block;
    content: '';
    height: 0;
    clear: both;
    overflow: hidden;
}
