.content {
    width: 1024px;
    margin: 50px auto;
    min-height: 1024px;
}

.check_icon,
.check_all_icon {
    width: 15px;
    height: 15px;
    font-size: 13px;
    color: #C40000;
    border: 1px solid #999999;
}

.check_all_icon{
    margin-left: 16px;
    margin-right:  5px;
}

.check_icon>span,
.check_all_icon>span{
    display: inline-block;
    top:0px;
}

.product_msg {
    padding-left: 190px;
    padding-right: 190px;
}

.product_price {
    padding: 0 62px;
}

.product_number {
    padding: 0 23px;
}

.product_total {
    padding: 0 62px;
}

.product_delete {
    padding: 0 17px;
}

.check_all_icon,
.check_icon,
.item_img,
.item_name,
.item_price,
.item_number,
.item_text,
.item_total,
.item_delete {
    display: inline-block;
}

.item_img{
    margin-left: 5px;
    margin-right: 10px;
}

.item_img > img {
    width: 70px;
    height: 70px
}

.item_name > a,
.item_delete>a{
    font-size: 12px;
    color: #999999;
}

.item_name > a:hover ,
.item_delete>a:hover{
    color: #C40000;
}

.item_name {
    width:40%;
    margin-left: 10px;
}

.item_price {
    width: 16%;
    text-align: center;
}

.item_number {
    width: 9%;
    text-align: center;
    border: 1px #999999 solid;
}

.item_text {
    width: 45px;
    height: 25px;
    text-align: center;
}

.item_total {
    width: 15%;
    text-align: center;
}

.item_delete {
    width: 8%;
    text-align: center;
}

.old_price{
    color: #9c9c9c;
    font-weight: bold;
    font-size: 14px;
}
.now_price,
.item_total>span{
    color: #C40000;
    font-weight: bold;
    font-size: 14px;
}

.item_number>a{
    display: inline-block;
    width: 19px;
    color: black;
    text-align: center;
}

.account{
    text-align: right;
}

.account_font{
    display: inline-block;
    font-family: Arial;
    font-size: 16px;
}

#select_number{
    color: #C40000;
    font-size: 16px;
    font-weight: bolder;
    margin: 0 5px;
}

#all_total {
    color: #C40000;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
}