.top-icon,
.content {
    width: 1024px;
    margin: 30px auto;
}

.top-icon > img {
    width: 100px;
    height: 50px;
}

.content {
    min-height: 1024px;
}

.content_title > p {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    margin: 30px 0;
}

.title {
    text-align: right;
    font-size: 12px;
    color: #999999;
    font-family: Arial;
    border-bottom: 2px #b2d1ff solid;
}

.title_price,
.title_number,
.title_total {
    text-align: center;
    display: inline-block;
    width: 100px;
}


.address_font,
.consignee_font,
.phone_font {
    font-family: Arial;
    font-size: 14px;
}


.required {
    color: #C40000;
    font-size: 16px;
}

.address,
.consignee,
.phone {
    margin: 0 auto;
    width: 900px;
}

.address_text {
    resize: none;
}

.address_text,
.consignee_text,
.phone_text {
    width: 500px;
    margin-bottom: 30px;
}

.productItemImg > img {
    width: 50px;
    height: 50px;
}

.panel-body {
    padding-left: 0;
    padding-right: 0;
}

.productItemImg,
.productPrice,
.productNumber,
.productTotal {
    display: inline-block;
    text-align: center;
}

.productInfo {
    display: inline-block;
}

.productItemImg {
    width: 80px;
}

.productInfo {
    width: 630px;
}

.productPrice {
    width: 110px;
}

.productNumber {
    width: 100px;
}

.productTotal {
    width: 100px;
}

.itemTitle {
    color: #999999;
    font-size: 12px;
}

.itemTitle:hover {
    color: #C40000;
}

.itemPrice,
.itemNumber {
    font-size: 12px;
    font-weight: bold;
}

.itemTotal {
    font-size: 12px;
    font-weight: bold;
    color: #C40000;
}

.remark {
    margin-bottom: 20px;
    background-color: #F2F6FF !important;
}

.total {
    margin: 30px 20px;
}

.total,
.submit {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

.total_sign,
.total_number {
    color: #C40000;
    font-size: 20px;
}

.submit_btn {
    width: 180px;
    height: 40px;
}